#options {
    height: 50px;
    background-color: var(--PriTheme);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    position: relative;
}
#options summary {
    cursor: pointer;
}
#options .filter {
    position: absolute;
    width: 400px;
    height: 200px;
    background-color: var(--Border);
    right: 20px;
    top: 50px;
}
#box {
    width: calc(100% - 40px);
    padding: 20px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
#box .card {
    width: 240px;
    max-height: 350px;
    background-color: var(--TriTheme);
    padding: 20px;
    border: 20px solid var(--SecTheme);
    border-radius: 20px;
}
#box .card img {
    width: calc(100% - 40px);
    margin: 20px;
    transform: scale(1);

}
#box .card img:hover {
    transform: scale(1.2);
}
#box .card .info {
    color: var(--PriText);
    text-align: center;
    border-top: 3px solid var(--BgTheme);
    padding-top: 10px; 
}
#box .card .info h2 {
    font-family: Courier, monospace; 
}
#box .card .info h2 s {
    font-size: 60%;  
}