#item {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    padding: 20px;
}
#item .imgBox {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 100%;
}
#item .imgBox img {
    max-width: 100%;
    display: none;
}
#item .imgBox img.visible {
    display: block;
}
#item .imgBox .itemControls {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#item .imgBox button {
    width: 30px;
    height: 30px;
    background: transparent;
    border: 1px solid black;
    border-radius: 30px;
    padding: 5px;
}
#item .imgBox button img{
    display: block;
}

#item .info {
    padding-left: 20px;
    width: 50vw;
}
#item .info p {
    margin-bottom: 10px;
}
#item .info h2 s {
    font-size: 60%;
    
}
@media screen and (max-width: 900px) {
    #item .info {
        font-size: small;
        width: auto;
        flex: 2;
    }
}
@media screen and (max-width: 600px) {
    #item {
        padding: 0;
        margin: 10px;
    }
    #item .info {
        font-size: small;
        width: 100%;
        flex: auto;
    }
    #item .imgBox {
        width: 100%;
    }
}
#item .add-to-cart,
#item .add-to-wishlist {
    background-color: var(--PriTheme);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin: 10px 0;
}
#item .add-to-cart:hover,
#item .add-to-wishlist:hover {
    background-color: var((--SecTheme));
}
#item .quantity {
    display: flex;
    align-items: center;
}
#item .quantity span {
    margin-right: 10px;
}
#item .quantity input {
    width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}