/* profile page styling code */
main #profile {
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: x-large;
    color: var(--PriText);
}
main #profile img {
    height: 20vw;
    min-height: 250px;
    max-height: 400px;
}
main #profile .info {
    margin: auto 0;
}
main #profile p {
    margin: 2rem 0;
}
main #orders {
    width: calc(100% - 80px);
    min-height: 200px;
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
    background-color: var(--TriTheme);
}
main #orders h2 {   
    text-decoration: underline; 
    margin-bottom: 10px;
}
main #orders ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
main #orders li {
    width: calc(100% - 40px);
    height: 130px;
    display: flex;
    padding: 20px;
    margin: 20px 0;
    background-color: var(--SecTheme);
    border-radius: 30px;
}
@media screen and (min-width: 1200px) {
    main #orders li {
        width: calc(50% - 80px);
        margin: 20px 20px;
    }
}
main #orders img {
    height: inherit;
}
main #orders .info {
    width: 60%;
}
main #orders h3 {   
    text-decoration: underline;
    margin-bottom: 10px;
    display: inline;
}
main #orders span {
    margin-left: 10px;
}
main #orders button {
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
}
main #orders button:hover {
    font-size: large;
}
main #orders a {
    font-size: large;
    width: 100%;
    text-align: center;
}
main #orders a:hover {
    text-decoration: underline;
}