/* profile page styling code */
#profile {
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: x-large;
    color: var(--PriText);
}
#profile img {
    height: 20vw;
    min-height: 250px;
    max-height: 400px;
}
#profile .info {
    margin: auto 0;
}
#profile p {
    margin: 2rem 0;
}
section {
    width: calc(100% - 80px);
    min-height: 200px;
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
    background-color: var(--TriTheme);
}
section h2 {   
    text-decoration: underline; 
    margin-bottom: 10px;
}
section ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
section li {
    width: calc(100% - 40px);
    height: 130px;
    display: grid;
    padding: 20px;
    margin: 20px 0;
    background-color: var(--SecTheme);
    border-radius: 30px;
    position: relative;
}
@media screen and (min-width: 1200px) {
    section li {
        width: calc(50% - 80px);
        margin: 20px 20px;
    }
}
@media screen and (max-width: 600px) {
    section li {
        height: 100px;
        grid-template-columns: 110px auto;
        margin: 10px 0;
    }
}
section img {
    height: inherit;
}
#orders li {
    grid-template-columns: 150px auto 120px;
}
#orders h3 {   
    text-decoration: underline;
    margin-bottom: 10px;
    display: inline;
}
#orders span {
    margin-left: 10px;
}
@media screen and (max-width: 600px) {
    #orders h3 {
        font-size: small;
    }
    #orders span {
        font-size: smaller;
    }
    #orders p {
        font-size: smaller;
    }
}
#orders button {
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
}
@media screen and (max-width: 600px) {
    #orders button {
        position: absolute;
        margin: 0;
        bottom: 5px;
        right: 15px;
        border-radius: inherit;
        height: 30px;
        width: 120px;
        font-size: medium;
    }
}
@media screen and (max-width: 425px) {
    section li {
        height: 70px;
        grid-template-columns: 80px auto;
    }
}
#orders button:hover {
    font-size: large;
}
#orders a {
    font-size: large;
    color: var(--Link);
    width: 100%;
    text-align: center;
    text-decoration: none;
}
#orders a:hover {
    text-decoration: underline;
}
#services li {
    grid-template-columns: 150px auto;
}
#services .info {
    display: flex;
    justify-content: center;
    align-items: center;
}