*{
    margin: 0;
    padding: 0;
    font-family: ADLaMDisplay;
}
@font-face {
    font-family: ADLaMDisplay;
    src: url(./font/ADLaM_Display/ADLaMDisplay-Regular.ttf);
}
:root{
    --theme: rgb(255, 145, 77);
    /* rgb(0 168 99) */
}
/* header styling code */
header {
    height: 80px;
    /* border-bottom: 3px solid var(--theme); */
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    /* position: relative; */
}
header .logo{
    height: 10vw;
    min-height: 50px;
    max-height: 80px;
    margin-right: auto;
    /* border: 1px solid var(--theme); */
    display: flex;
}
header h2 {
    padding-left: 10px;
    font-size:xx-large;
}
header h2:nth-child(1) {
    color: white;
    -webkit-text-stroke: 1px var(--theme);
}
header h2:nth-child(2) {
    color: var(--theme);
}
@media screen and (max-width: 768px) {
    header h2 {
        font-size: x-large;
    }
}
header #search {
    position: relative;
    border-radius: 20px;
    border: 3px solid black;
    height: 50px;
    width: auto;
    overflow: hidden;
}
@media screen and (max-width: 900px){
    header {
        /* gives some extra space for search bar to fit in without overlapping */
        margin-bottom: 60px;
    }
    header #search {
        /* brings the search bar down for tablets and phone as it shrinks */
        position: absolute; 
        width: 90%;
        top: 100px;
        left: 10px;
    }
}
header button {
    background-color: transparent;
    border: none;
    height: 40px;
}
header #search button {
    position: absolute;
    height: 30px;
    top: 10px;
}
header button img {
    /* button images to follow thier containing btn */
    height: inherit;
}
header input {
    /* search bar */
    width: 80%;
    height: 50px;
    border: none;
    border-color: transparent;
    padding-left: 50px;
    font-size: 25px;
    outline: none;
}
header button:nth-child(1){
    /*search button  */
    left: 10px;
}
header button:nth-child(2){
    /* input conent delete button */
    right: 10px;
    background-color: white;
}
header button:nth-child(n + 3){
    /* stying for wishlist, cart and profile logo */
    height: 40px;
    margin-left: 20px;
}
@media screen and (max-width: 425px) {
    header button:nth-child(n + 3) {
        height: 30px;
        margin-left: 5px;
    }
}
/* Nav or Navigation Bar styling code */
nav {
    height: 90px;
    background-color: var(--theme);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    overflow-x: scroll;
}
@media screen and (max-width: 1000px) {
    /* Overflowed content from start to show all elements */
    nav {
        justify-content: start;
        gap: 0px;
    }
}
nav a {
    /* to make images in the center along with the text */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-width: max-content;
    text-decoration: none;
    color: white;
}
nav img {
    height: 40px;
    width: 40px;
    vertical-align: center;
}
nav h4 {
    width: 100%;
    font-weight: 100;
}
/* width */
::-webkit-scrollbar {
    height: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 1px solid white;
    background: var(--theme);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: orangered;
  }

/* offer section styling code */
#offers {
    padding: 20px;
    width: 100%;
    text-align: center;
    font-size: x-large;
    display: flex;
    justify-content: space-evenly;
    overflow: scroll;
}
#offers div {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    box-shadow: 20px 20px;
    display: grid;
    grid-template-rows: 30px 120px 120px;
    grid-template-columns: 120px 120px;
}
#offers p {
    grid-column: 1/ span 2;
}
#offers img {
    height: 100px;
    margin: 10px;
}
/* profile page styling code */
main #pp-bg{
    width: 100%;
    height: 400px;
    background:var(--theme);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}
#pp-bg > img, #pp-bg > div {
    border: 3px solid black;
}
#pp-bg img {
    height: 200px;
}